{% extends "base.html"  %}

{% block content %}

<h2>Checking into room: {{room.room_name}}</h2>
<form action="/room/{{room.room_id}}/checkin/{{user_id}}/" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-group">
    <label>Select your image password: </label>
 
    {% for im in images %}
      <div>
        <img id="{{ im.name }}" src="{{ im.src }}" title="{{im.name}}" class="img-thumbnail" style="width:130px;margin:5px;" />
      </div>
    {% endfor %}
  </div>
  <input class="btn" type="submit" value="Submit" id="validationSubmit" />
</form>

{% endblock %}

{% block script %}

<script> 

 $("img").click(function(evt) {
    var animal = this.id;
    $("img").removeClass("btn-primary");
    $(this).addClass("btn-primary");
    $("#id_image").val(animal);
  });


</script>

{% endblock %}
